@model ShoesShop_GroupProject.Models.ListViewProduct

@{
    ViewData["Title"] = "Men's Shoes";
}

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                <h2>Men's Shoes</h2>
            </div>
        </div>

        <!-- Sort and Filter Section -->
        <div class="row mb-4">
            <div class="col-md-6">
                <form method="get" asp-action="MansShoes">
                    <div class="input-group">
                        <select class="form-control" name="SortOrder" style="font-weight: bold; color: black;" onchange="this.form.submit()">
                            <option value="">Sort by Price</option>
                            <option value="PriceAsc">Price: Low to High</option>
                            <option value="PriceDesc">Price: High to Low</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form method="get" asp-action="MansShoes">
                    <div class="input-group">
                        <select class="form-control" name="ShoeType" style="font-weight: bold; color: black;" onchange="this.form.submit()">
                            <option value="">Filter by Type</option>
                            <option value="Running Shoes">Running Shoes</option>
                            <option value="Sports Shoes">Sports Shoes</option>
                            <option value="Casual Shoes">Casual Shoes</option>
                            <option value="Sneaker Shoes">Sneaker Shoes</option>

                        </select>
                    </div>
                </form>
            </div>
        </div>

        <div class="row row-pb-md">
            @foreach (var productItem in Model.Products)
            {
                <div class="col-lg-3 mb-4 text-center">
                    <div class="product-entry border">
                        <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@productItem.Id" class="prod-img">
                            <img src="@Url.Content(productItem.ImagePath)" class="img-fluid" alt="Product Image">
                        </a>
                        <div class="desc">
                            <h2><a href="#">@productItem.Name</a></h2>
                            <span class="price">$@productItem.Price</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
